* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3efe0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main {
  background-image: url(armory.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #1787af;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: dashed;
  font-size: 30px;
  padding: 3%;
  height: 650px;
  width: 600px;
  border-radius: 30px;
  text-align: center;
}

.main h1 {
  box-shadow: #000000 2px 4px 4px 3px;
  background-color: #fbf4de;
  border-radius: 20px;
  padding: 10px;
}

.main div p {
  box-shadow: #000000 4px 4px 4px 3px;
  background-color: #fbf4de;
  border-radius: 17px;
  color: black;
  padding: 5px;
  margin: 50px 0;
}

#count {
  font: 100x;
  font-weight: 800;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#increment {
  box-shadow: #000000 2px 2px 40px 3px;
  background-color: #21b1fa;
  border-radius: 7px;
  color: black;
  width: 300px;
  border: none;
  padding: 15px;
  margin: 50px 0;
  font-size: 30px;
  font-weight: 800;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#increment:active {
  background-color: rgb(0, 195, 255);
}